{{!-- Login page --}}

<div class="container">
    <div class="col-lg-6"
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <button class="btn btn-lg btn-primary btn-block" id='login'>Sign in</button>
      </form>
  </div>
</div>