{{!-- Login page --}}

<div class="container">
    <div class="col-lg-6"
      <form class="form-signin">
        {{#if message}}
        <h2> {{message}} </h2>
        <button class="btn btn-lg btn-primary btn-block" id='authenticatedUser'>Sign in</button>
        {{/if}}
        {{#unless message}}
        <h2 class="form-signin-heading">Please sign in</h2>
        <button class="btn btn-lg btn-primary btn-block" id='login'>Sign in</button>
      </form>
        {{/unless}}
  </div>
</div>