<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">New Course</h2>

        <label for="inputName" class="sr-only">Instructor Email</label>
        <input type="name" id="inputInstructorEmail" class="form-control" placeholder="Instructor Email" required="true" autofocus="">
        <label for="inputName" class="sr-only">Course Name</label>
        <input type="name" id="inputCourseName" class="form-control" placeholder="Course Name" required="true" autofocus="">
        <label for="inputEmail" class="sr-only">Course Description</label>
        <input type="email" id="inputCourseDescription" class="form-control" placeholder="Course Description" required="true" autofocus="">
        <label for="inputPassword" class="sr-only">Course Time</label>
        <input type="time" id="inputCourseTime" class="form-control" placeholder="Course Time" required="true">


        <button class="btn btn-lg btn-primary btn-block" type="submit" id = 'newCourse'>Create Course</button>
      </form>

    </div>