body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: translate(0px, -5px);
}

#login-header {
  height: 75vh;
  margin: -50px -50px 0 -50px;
  overflow: hidden;
  text-align: center;
}

.hero-left {
  background-color: red;
  height: 75vh;
  left: -50px;
  width: 50%;
  transition: all 1s ease-in-out;
}

.hero-right {
  background-color: blue;
  height: 75vh;
  right: -50px;
  width: 50%;
  transition: all 1s ease-in-out;
}

.hero-left:hover {
  padding-left: 50px;
  width: 75%;
}

.hero-left:hover + .hero-right {
  width: 25%;
}

.hero-right:hover {
  padding-right: 50px;
  width: 75%;
}

.hero-expanded {
  visibility: hidden;
}

.hero-expanded.active {
  visibility: visible;
}