body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login-header {
  overflow: hidden;
  text-align: center;
}

.hero-left {
  background-color: red;
  position: fixed;
  left: -50px;
  width: 50%;
  transition: all 1s ease-in-out;
}

.hero-right {
  background-color: blue;
  position: fixed;
  right: -50px;
  width: 50%;
  transition: all 1s ease-in-out;
}

.hero-right:hover {
  position: absolute;
  padding-right: 50px;
  width: 75%;
}

.hero-left:hover {
  position: absolute;
  padding-left: 50px;
  width: 75%;
}

.hero-expanded {
  visibility: none;
}

.hero-expanded.active {
  visibility: visible;
}